@charset "UTF-8";

html {
	font-family: 'Questrial', sans-serif;
}

.img-center {
	display: block;
	margin: 0 auto;
}

.container-fluid-padding {
	margin-left: 15px !important;
	margin-right: 15px !important;
}

.logo {
	margin: 20px auto;
}

.announcement-bar {
	background-color: #ca8f2e;
}

.orange-text {
	color: #ca8f2e;
}

.divider {
	border: none;
	background-color: black;
	height: 1px;
	margin:10px 0;
}

.divider-horz {
	border: none;
	margin:25px 0;
}

.rest-logo, .rest-logo-home {
	display: block;
	margin: 0 auto 20px auto;
}

.welcome {
	margin: 120px 0;
}

.welcome div article {
	padding: 0 40px;
}

.sam-social {
	max-width: 30px;
	margin: 5px 0 0 10px;
}

.header {
	font-size: 1.6em;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 3px;
}

.header-divider {
	background-color: #000;
	max-width: 50px;
	height: 5px;
	display: block;
	margin: 20px auto;
}

    .hover {
	  width: auto;
      height: auto;
      padding: 0;
      position: relative;
      background-color: black;
    }

    .hover:hover .img-bg {
      opacity: 0.3;
    }

    .hover:hover .work-text-content {
      opacity: 1; 
    }

    .hover .img-bg {
      padding: 0;
      width: 100%;
      display: block;
      opacity: 1;
    }

    .hover .img-bg,
    .work-text-content {
      -webkit-transition: opacity 0.5s ease-out;
      -moz-transition: opacity 0.5s ease-out;
      -o-transition: opacity 0.5s ease-out;
      transition: opacity 0.5s ease-out;
    }

    .work-text-content {
      position: absolute;
      color: white;
      left: 0;
      top: 25%;
      right: 0;
      bottom: 0;
      font-size: 24px;
      text-align: center;
      opacity: 0;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    
    .work-text-content h2 {
	    padding-bottom: 10px;
    }
    
    .work-text-content p {
	    font-size: 12px;
	    padding: 0 40px;
    }
    
    .locations {
	    padding: 20px;
	    font-size: 0.7em;
	    text-transform: capitalize;
    }
    
    .locations a {
	    margin-top: 10px;
    }
    
    .newsletter {
	    background-color: #000;
	    padding: 120px 0;
	    color: #fff;
	    font-weight: 100;
    }
    
    .newsletter span {
	    color: #4f4f4f;
    }
    
    #newsletter {
	    display: block;
	    margin: 10px auto;
	    max-width: 750px;
    }
    
    #newsletter .mc-field-group input {
	    background-color: #000;
	    border: 2px solid #4f4f4f;
	    color: #4f4f4f;
	    padding: 5px 10px;
	    margin: 10px 0;
    }
    
     #mc-embedded-subscribe {
	    background-color: #fff;
	    border: 2px solid #4f4f4f;
	    color: #4f4f4f;
	    padding: 5px 70px;
	    margin: 10px 0;
    }
    
    footer {
	    background-color: #4f4f4f;
    }
    
    .invest {
	    background-color: #2a2a2a;
	    padding: 20px 0;
	    text-transform: uppercase;
	    color: #fff;
	    letter-spacing: 1px;
    }
    
    .invest h5 a {
	    color: #fff;
	    text-decoration: underline;
    }
    
    .invest h5 a:hover {
	    color: #000;
	    text-decoration: underline;
    }
    
    .basement {
	    background-color: #ca8f2e;
	    padding: 25px 0;
	    text-align: center;
	    color: #4f4f4f;
    }
    
    .basement span {
	    color: #fff;
    }
    
    .catering-form {
	    background-color: #4f4f4f;
	    padding: 15px;
    }
    
    .catering-form h3 {
	    color: #fff;
	    padding-bottom: 15px;
    }
    
    .catering-form .catering-field {
	    display: block;
	    margin: 10px auto;
	    border: 1px solid black;
	    padding: 3px 20px 3px 5px;  
    }
    
    .catering-form .contact-message {
	    display: block;
	    margin: 10px 0;
	    border: 1px solid black;
	    padding: 3px 20px 3px 5px;  
    }
    
    .catering-form .form_label {
	    text-align: center;
	    color: #fff;
    }
    
    .catering-form .disclaimer {
	    font-style: italic;
	    font-size: 0.75em;
	    color: #fff;
    }
    
    .catering-button {
	    background-color: #000;
	    color: #fff;
	    text-transform: uppercase;
	    text-align: center;
	    padding: 3px 20px;
	    letter-spacing: 1px;
    }
    
    .catering-button:hover {
	    background-color: #fff;
	    color: #000;
	    text-transform: uppercase;
	    text-align: center;
	    padding: 3px 20px;
	    letter-spacing: 1px;
    }
    
    .fbfh {
	    padding-top: 100px;
    }
    
    .fbfh-news {
	    padding-bottom: 60px;
    }
    
    .fbfh-news .col-md-4 {
	    padding: 10px;
    }
    
    .fbfh-btn {
	    background-color: #000;
	    color: #fff;
	    padding: 6px 14px;
	    display: block;
	    margin: 20px auto 0 auto;
	    text-align: center;
	    max-width: 200px;
    }
    
    .fbfh-btn:hover {
	    background-color: #4f4f4f;
	    color: #fff;
	    text-decoration: none;
    }
    
    .video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
    
    @media (max-width:768px) {
	    .catering-form input {
		    width: 100%;
	    }
	    .catering-button, .catering-form select {
	    display: block;
	    margin: 10px auto;
    }
    
    .catering-form .form_label, .catering-form .disclaimer {
	    text-align: center !important;
	    }
	    }

/* Effect 21: borders slight translate */

.cl-effect-21 a {
	padding: 10px;
	color: #237546;
	font-weight: 700;
	text-shadow: none;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.cl-effect-21 a::before,
.cl-effect-21 a::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-21 a::before {
	top: 0;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-21 a::after {
	bottom: 0;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.cl-effect-21 a:hover,
.cl-effect-21 a:focus {
	color: #fff;
}

.cl-effect-21 a:hover::before,
.cl-effect-21 a:focus::before,
.cl-effect-21 a:hover::after,
.cl-effect-21 a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

video { 
    position: relative;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(0%);
 background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
.stopfade { 
   opacity: .5;
}

footer {
	background-color: #4f4f4f;
	padding: 40px;
}

footer h4 {
	color: #fff;
	letter-spacing: 1px;
	text-transform: uppercase;
}

footer ul {
	list-style-type: none;
}

footer ul li a, footer ul li {
	color: #000;
	text-transform: uppercase;
	letter-spacing: 1px;
}

footer ul li a:hover {
	text-decoration: none;
}

#rest-margin {
	margin-top: 40px;
}

.application {
	margin-top: 120px;
}

.btn-black {
	border: 1px solid #000;
	padding: 5px 15px;
	border-radius: 3px;
	display: block;
	margin: 10px auto;
	text-align: center;
	max-width: 180px;
}

@media (max-width:768px) {
	.welcome {
	margin: 60px 0;
}

	 .newsletter {
	    padding: 60px 0;
    }
    
    #newsletter {
	    display: block;
	    margin: 10px auto;
	    padding-left: 20px;
    }
    
     #mc-embedded-subscribe {
	    padding: 5px 60px;
    }
    
    #rest-margin {
	margin-top: 0;
	}	
    
      .work-text-content p {
	    font-size: 11px;
	    padding: 0 20px;
    }


    .hover .img-bg {
      padding: 0;
      width: 100%;
      display: block;
      opacity: 0.4;
    }

    .hover .img-bg,
    .work-text-content {
      -webkit-transition: opacity 0.5s ease-out;
      -moz-transition: opacity 0.5s ease-out;
      -o-transition: opacity 0.5s ease-out;
      transition: opacity 0.5s ease-out;
    }

    .work-text-content {
      position: absolute;
      top: 10%;
      opacity: 1;
    }
    
    .rest-logo {
	    width: 30%;
    }
    video { 
    position: relative;
    top: 0;
    left: 0%;
    min-width: 0;
    min-height: 0;
    width: 100%;
    height: auto;
    z-index: -100;
    transform: translateX(0%) translateY(0%);
 background: url(../images/video-bg.jpg) no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
}

/* Modal Popup Styles */
	
	#hover{
  position:fixed;
  background:#000;
  width:100%;
  height:100%;
  opacity: .6;
  z-index: 9997;
}

#popup{
  position:absolute;
  max-width:600px;
  max-height:500px;
  background:#fff;
  left:50%;
  top:50%;
  border-radius:5px;
  padding: 0;
  margin-left:-320px; /* width/2 + padding-left */
  margin-top:-150px; /* height/2 + padding-top */
  text-align:center;
  box-shadow:0 0 10px 0 #000;
  z-index: 9998;
  padding: 20px;
}

#popup img {
	max-width: 100%;
	height: auto;
	position: relative;
	display: block;
	margin: 0 auto;
}

#close{
  position:absolute;
  background:white;
  color:black;
  right:-15px;
  top:-15px;
  border-radius:50%;
  width:30px;
  height:30px;
  line-height:30px;
  text-align:center;
  font-size:8px;
  font-weight:bold;
  font-family:'Arial Black', Arial, sans-serif;
  cursor:pointer;
  box-shadow:0 0 10px 0 #000;
  z-index: 9999;
}

.signup-popup {
	background-color: #fff;
	width: 100%;
	padding: 25px 50px;
}

.popup-btn {
	background-color: red;
	color: #fff;
	font-size: 1.4em;
	padding: 15px 20px;
}

.popup-btn:hover {
	background-color: #d2232a;
	color: #fff;
}



@media (max-width : 768px) {

#popup{
  position:relative;
  max-width:600px;
  max-height:336px;
  background:#fff;
  left:0;
  top:60px;
  padding: 0 ;
  margin-left: 5px; /* width/2 + padding-left */
  margin-right: 5px;
  margin-top:0; /* height/2 + padding-top */
}

#close{
  z-index: 9999;
}

}

/* End Modal Popup Styles */